html {
	background: #aaa;
}

body.article {
	max-width: 800px;
	border: 1px solid #999;
	border-width: 0 1px;
	margin: auto;
	padding: 10px;
	background: #fff;
}

.image.left {
	margin: 0 10px 0 0;
	float: left;
}

h1 {
	margin: 0.5em 0;
}

#footer-text {
	float: none;
	text-align: right;
	padding: 0;
	font-size: 0.8em;
	color: #444;
}

#header {
	background: url("/logo/logo_small.png") no-repeat scroll left top;
	height: 60px;
	line-height: 60px;
	padding-left: 50px;
}

#header h1 {
	border: none;
	display: inline;
	font-size: 1.4em;
	margin: 0;
}

#preamble {
	margin: 0;
}

.tableblock tr th {
	background-color: #527bbd;
	color: #fff;
}

.tableblock tr:nth-child(even) {
	background-color: #b7c8e3;
}

.tableblock tr:nth-child(odd) {
	background-color: #fff;
}

.menu ol {
	padding: 0;
	margin: 0 -10px;
	border: 2px solid #527bbd;
	border-width: 2px 0;
}

.menu ol li,
.menu ol li p {
	padding: 0;
	margin: 1px 1px 1px 1px;
}

.menu ol:after {
	content: "";
	display: block;
	clear: both;
}

.menu ol li {
	list-style: none;
	float: left;
}

.menu ol li p a:link,
.menu ol li p a:visited {
	color: #527bbd;
	font-size: 1.1em;
	text-decoration: none;
	display: block;
	padding: 2px 4px;
	border-radius: 3px 3px 3px 3px;
}

.menu ol li p a:hover,
.menu ol li p a:active,
.menu ol li p a.active {
	background-color: #527bbd;
	color: #fff;
}
