<h4>Documentation</h4>
<div class="panel">
    <div id="toc" class="toc">
        <ul class="sectlevel0">
            <li{% if page.url == '/docs/' %} class="active"{% endif %}><a href="index.html">Getting Started</a></li>
            <li{% if page.url == '/docs/config.html' %} class="active"{% endif %}><a href="config.html">Configuration</a></li>
            <li{% if page.url == '/docs/ubus.html' %} class="active"{% endif %}><a href="ubus.html">uBus</a></li>
            <li{% if page.url == '/docs/mdns.html' %} class="active"{% endif %}><a href="mdns.html">mdns</a></li>
            <li{% if page.url == '/docs/procd.html' %} class="active"{% endif %}><a href="procd.html">Procd</a></li>
            <li{% if page.url == '/docs/rpcd.html' %} class="active"{% endif %}><a href="rpcd.html">rpcd</a></li>
            <li{% if page.url == '/docs/uci.html' %} class="active"{% endif %}><a href="uci.html">UCI Document</a></li>
            <ul class="sectlevel0">
                <li{% if page.url == '/docs/uci_defaults.html' %} class="active"{% endif %}><a href="uci_defaults.html">UCI defaults</a></li>
                <li{% if page.url == '/docs/uci_dnsmasq.html' %} class="active"{% endif %}><a href="uci_dnsmasq.html">DHCP</a></li>
                <li{% if page.url == '/docs/uci_dropbear.html' %} class="active"{% endif %}><a href="uci_dropbear.html">Dropbear</a></li>
                <li{% if page.url == '/docs/uci_firewall.html' %} class="active"{% endif %}><a href="uci_firewall.html">Firewall</a></li>
                <li{% if page.url == '/docs/uci_fstab.html' %} class="active"{% endif %}><a href="uci_fstab.html">FSTab</a></li>
                <li{% if page.url == '/docs/uci_net.html' %} class="active"{% endif %}><a href="uci_net.html">Network</a></li>
                <li{% if page.url == '/docs/uci_qos.html' %} class="active"{% endif %}><a href="uci_qos.html">QoS</a></li>
                <li{% if page.url == '/docs/uci_samba.html' %} class="active"{% endif %}><a href="uci_samba.html">Samba</a></li>
                <li{% if page.url == '/docs/uci_system.html' %} class="active"{% endif %}><a href="uci_system.html">System</a></li>
                <li{% if page.url == '/docs/uci_wireless.html' %} class="active"{% endif %}><a href="uci_wireless.html">Wireless</a></li>
            </ul>
            <li{% if page.url == '/docs/web_presence.html' %} class="active"{% endif %}><a href="web_presence.html">About These Web Pages</a></li>
            <li{% if page.url == '/docs/failsafe.html' %} class="active"{% endif %}><a href="failsafe.html">Failsafe Mode</a></li>
            <li{% if page.url == '/docs/development.html' %} class="active"{% endif %}><a href="development.html">Development</a></li>
             <ul class="sectlevel0">
                 <li{% if page.url == '/docs/development_new_device.html' %} class="active"{% endif %}><a href="development_new_device.html">Adding a new device</a></li>
            </ul>     
        </ul>
    </div>
</div>
