<h4>Links</h4>
<div class="panel">
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="https://downloads.lede-project.org/snapshots/targets/">Downloads</a></li>
        <li><i class="fa-li fa fa-code-fork" aria-hidden="true"></i><a href="https://git.lede-project.org/">Git Repos</a></li>
        <li><i class="fa-li fa fa-github" aria-hidden="true"></i><a href="https://github.com/lede-project">Github</a></li>
        <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><a href="http://lists.infradead.org/mailman/listinfo/lede-dev">Mailing List</a></li>
        <li><i class="fa-li fa fa-comment" aria-hidden="true"></i><a href="irc://irc.freenode.org/lede-dev">IRC</a></li>
        <li><i class="fa-li fa fa-archive" aria-hidden="true"></i><a href="http://meetings.lede-project.org/">Meeting Logs</a></li>
        <li><i class="fa-li fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/lede_project">Twitter</a></li>
        <li><i class="fa-li fa fa-pencil-square-o" aria-hidden="true"></i><a href="https://wiki.lede-project.org/start">LEDE Wiki</a></li>
	<li><i class="fa-li fa fa-comments-o" aria-hidden="true"></i><a href="https://forum.lede-project.org">Forum</a></li>
	<li><i class="fa-li fa fa-bug" aria-hidden="true"></i><a href="https://bugs.lede-project.org">Bugtracker</a></li>
    </ul>
</div>
