<li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ site.prefix }}index.html">Home</a></li>
<li{% if page.url == '/communication.html' %} class="active"{% endif %}><a href="{{ site.prefix }}communication.html">Communication</a></li>
<li{% if page.url == '/rules.html' %} class="active"{% endif %}><a href="{{ site.prefix }}rules.html">Rules</a></li>
<li{% if page.url == '/development.html' %} class="active"{% endif %}><a href="{{ site.prefix }}development.html">Development</a></li>
<li{% if page.url == '/todo.html' %} class="active"{% endif %}><a href="{{ site.prefix }}todo.html">Todo</a></li>
<li{% if page.url == '/downloads.html' %} class="active"{% endif %}><a href="{{ site.prefix }}downloads.html">Downloads</a></li>
<li><a href="https://wiki.lede-project.org/start">Wiki</a></li>
<li{% if page.url contains '/docs/' %} class="active"{% endif %}><a href="{{ site.prefix }}docs/index.html">Documentation</a></li>
<li{% if page.url == '/faq.html' %} class="active"{% endif %}><a href="{{ site.prefix }}faq.html">FAQ</a></li>
<li{% if page.url == '/about.html' %} class="active"{% endif %}><a href="{{ site.prefix }}about.html">About</a></li>
