<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.title}}</title>


    <meta name="description"
          content="Linux Embedded Development Environment, an embedded Linux distribution that makes it easy for developers, system administrators or other Linux enthusiasts to build and customize software for embedded devices, especially wireless routers."/>

    <link rel="stylesheet" href="{{site.prefix}}css/foundation.css"/>
    <link rel="stylesheet" href="{{site.prefix}}css/font-awesome.css"/>
    <link rel="stylesheet" href="{{site.prefix}}css/coderay.css"/>
    <link rel="stylesheet" href="{{site.prefix}}css/asciidoctor.css"/>
    <link rel="stylesheet" href="{{site.prefix}}css/lede.css"/>
    <script src="{{site.prefix}}js/vendor/modernizr.js"></script>
    <script src="{{site.prefix}}js/toc.js"></script>
</head>
<body>


<!-- Nav Bar -->

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="#">
                    <img src="{{site.prefix}}logo/logo_small.png"></img>
                    <span class="top-bar-title">{{page.title}}</span>
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            {% include top_nav.html %}
        </ul>
    </section>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">
    <!-- Docs Sidebar -->

    {% if page.url contains '/docs/' %}
    <aside class="large-3 columns">
        {% include docs_nav.html %}
    </aside>
    {% endif %}

    <!-- End Docs Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        {{ content }}

    </div>

    <!-- End Main Content -->

    <!-- Sidebar -->

    {% unless page.url contains '/docs/' %}
    <aside class="large-3 columns">
        {% include side_nav.html %}
    </aside>
    {% endunless %}

    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <p>Last updated {{ page.last_modified_at | date: '%Y-%m-%d %H:%M:%S' }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{site.prefix}}js/vendor/jquery.js"></script>
<script src="{{site.prefix}}js/foundation.min.js"></script>
<script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>
